:root {
    --background: #101922;
    --text-primary: #fff;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

h1 {
    color: var(--text-primary);
    background-color: var(--background);
}